## DataFrame Manipulation in Python

Fundamental Pandas operations in action.  

The following tasks are performed :

* Import the necessary libraries.
* Read in the abalone data from the UCI machine learning repository.
* Check the type.
* Get the size of the dataframe.
* Get the shape of the dataframe.  
<br>
* Look at the first few data instances.
* Add column names.
* Do a statistical summary.
* Remove half the data with below median height.
* Get the size of the dataframe.  
<br>
* Remove the length and diameter columns.

#### Import the necessary libraries.

In [1]:
import sys
import pandas as pd
import numpy as np

#### Read in the abalone data from the UCI machine learning repository.

In [2]:
url = "https://raw.githubusercontent.com/basilhan/datasets/master/abalone.data"
data = pd.read_csv(url, header=None)

#### Check the type.

In [3]:
type(data)

pandas.core.frame.DataFrame

#### Get the size of the dataframe.

In [4]:
print(sys.getsizeof(data), "bytes")

526406 bytes

#### Get the shape of the dataframe.

In [5]:
data.shape

(4177, 9)

#### Look at the first few data instances.

In [6]:
data.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

#### Add column names.

In [7]:
names = ["Sex", "Length", "Diam", "Height", "Whole", "Shucked", "Viscera", "Shell", "Rings"]
data.columns = names
data.head()

  Sex  Length   Diam  Height   Whole  Shucked  Viscera  Shell  Rings
0   M   0.455  0.365   0.095  0.5140   0.2245   0.1010  0.150     15
1   M   0.350  0.265   0.090  0.2255   0.0995   0.0485  0.070      7
2   F   0.530  0.420   0.135  0.6770   0.2565   0.1415  0.210      9
3   M   0.440  0.365   0.125  0.5160   0.2155   0.1140  0.155     10
4   I   0.330  0.255   0.080  0.2050   0.0895   0.0395  0.055      7

#### Do a statistical summary.

In [8]:
data.describe()

,Length,Diam,Height,Whole,Shucked,Viscera,Shell,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

#### Remove half the data with below median height.

In [9]:
data = data[data.Height > data.Height.median()]
data.shape

(2072, 9)

#### Get the size of the dataframe.

In [10]:
print(sys.getsizeof(data), "bytes")

277672 bytes

#### Remove the length and diameter columns.

In [11]:
data = data.drop(["Length", "Diam"], 1)  # 0 for rows, 1 for columns
data.head()

   Sex  Height   Whole  Shucked  Viscera  Shell  Rings
6    F   0.150  0.7775   0.2370   0.1415  0.330     20
9    F   0.150  0.8945   0.3145   0.1510  0.320     19
13   F   0.145  0.6845   0.2725   0.1710  0.205     10
22   F   0.155  0.9395   0.4275   0.2140  0.270     12
24   F   0.165  1.1615   0.5130   0.3010  0.305     10

Permalink : https://github.com/basilhan/python/blob/master/PythonDataFrameManipulation.ipynb